/* Import Tailwind CSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define root color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Add SF Pro Text font */
@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SF-Pro-Text-Regular.woff') format('woff'),
  url('/fonts/SF-Pro-Text-Bold.woff') format('woff');
  font-weight: 400 700; /* Supports Regular (400) and Bold (700) */
  font-style: normal;
}

/* Body styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SF Pro Text', Arial, Helvetica, sans-serif;
}
